@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

.card {
    max-width: 70%;
    height: 230px;
    margin: 0 auto;
    align-items: center;
    border-bottom: #e6e6e6 2px solid;
}

.artikel {
    display: flex;
    margin: 60px 0 0 0;
}

.gambar {
    flex-basis: 40%;
    max-width: 300px;
    border-radius: 10px;
}

.teks {
    flex-basis: 60%;
    float: right;
    margin: 30px 0 0 20px;
}

.judul {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
}

.sub {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;

    margin-top: 10px;
}

.url {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    float: right;

    margin-top: 20px;
}

.url:hover {
    text-decoration: underline;
    cursor: pointer;
}