@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

* {
	text-decoration: none;
	list-style-type: none;
}

.nav {
	text-align: center;
	margin: 0 auto;
	max-width: 30%;
	border: 1px solid white;
}

.nav ul {
	color: white;
	font-family: Roboto;
	font-weight: bold;
	font-size: 25px;
	line-height: 55px;

	margin-top: 150px;
}