@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

body {
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
}

.up {
	width: 100%;
	height: 25px;
	left: 0px;
	top: 0px;
	background-color: #F5F5F5;
}

.header {
	display: flex;
	align-items: center;
	background-color: white;
	height: 60px;
	padding: 5px;

	box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.11);
	-webkit-box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.11);
	-moz-box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.11);
}

.just {
	height: 35px;
	float: left;
	margin-left: 94px;
	cursor: pointer;
}

.navbar {
	flex: 1;
	text-align: right;
}

.navbar ul li {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	color: black;

	display: inline-block;
	list-style-type: none;
	margin-right: 50px;
}

.navbar li:hover {
	color: rgb(201, 0, 0);
	cursor: pointer;
}

.burger {
	height: 25px;
	float: right;
	margin-right: 50px;
	filter: contrast(0%);
	cursor: pointer;
	display: none;
}

content {
	display: flex;
	max-width: 90%;
	margin: 0 auto;
}

.imgproduk {
	flex-basis: 60%;
}

.geist1 {
	position: absolute;
	width: 350px;
	left: 94px;
	top: 193px;
	filter: contrast(85%);
}

.geist2 {
	position: absolute;
	width: 350px;
	left: 463px;
	top: 193px;
	filter: contrast(85%);
}

.geist3 {
	position: absolute;
	width: 350px;
	left: 94px;
	top: 562px;
	filter: contrast(85%);
}

.geist4 {
	position: absolute;
	width: 350px;
	left: 463px;
	top: 562px;
	filter: contrast(85%);
}

.deskripsi {
	flex-basis: 40%;
	margin-top: 100px;
	padding-left: 125px;
}

.tipe {
    font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
}

.produk {
    font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	line-height: 19px;
}

button {
	color: white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 14px;

	background-color: black;
	border-radius: 50px;
	border: none;
	padding: 12px 18px 12px 18px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(32, 32, 32);
}

.paragraf {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 21px;

	margin-top: 30px;
	padding-bottom: 50px;

	border-bottom: 1px #C8C8C8 solid;
}


@media only screen and (max-width: 640px) {

	.navbar ul {
		position: absolute;
		width: 100%;
		background-color: black;
		top: 75px;
		right: 0;
		padding-right: 20px;
		z-index: 2;
	}

	.navbar ul li {
		color: white;
		display: block;
		margin: 10px 0 10px 0;
	}

	.burger {
		display: block;
		margin-right: 20px;
	}

	.just {
		margin-left: 20px;
	}

}