@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

header {
    width: 100%;
    height: 700px;
    background: url(images/walk.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.justrun {
	height: 35px;
	float: left;
	margin-left: 94px;
	margin-top: 30px;
}

.nav {
	height: 25px;
	float: right;
	margin-right: 100px;
	margin-top: 40px;
}

header p {
    margin-top: 240px;
    color: white;

	font-family: Poppins;
	font-weight: 900;
	font-size: 90px;
	line-height: 85px;
    text-align: center;
}

article {
    margin-top: 70px;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    margin-left: 375px;
}

small {
    color: rgb(206, 0, 0);
}

article p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    text-align: left;
}

strong {
    font-family: Roboto;
    margin-left: 830px;
    text-align: right;
}

strong:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

footer {
	padding: 5px;
    height: fit-content;
	color: #727272;
    background-color: white;
    border-top: 1px #727272 solid;
}