@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;450;900&display=swap');

.box {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 400px;
}

label {
    margin-bottom: 50px;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
}

.ulas {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: royalblue;
    line-height: 19px;
    margin-bottom: 15px;
}

.ulas:hover {
    text-decoration: underline;
    cursor: pointer;
}

input[type=text] {
    margin-bottom: 10px;
}

input[type=text],
textarea {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Roboto;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}

span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.kirim {
	font-family: Roboto;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #858585;
    padding: 5px 20px 0 0;
    float: right;
	background-color: white;
	border: none;
	cursor: pointer;
}

.kirim:hover {
	color: black;
    font-weight: 450;
    background-color: white;
}