@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

body {
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
}

p {
	text-align: center;
	max-width: 600px;
	margin-left: 375px;
}

figure p {
	margin-left: 335px;
}

.up {
	width: 100%;
	height: 25px;
	left: 0px;
	top: 0px;
	background-color: #F5F5F5;
}

header {
	background-color: white;
	height: 60px;
	padding: 5px;
}

header img {
	height: 35px;
	float: left;
	margin-left: 94px;
	margin-top: 10px;
}

header ul {
	margin-right: 100px;
}

header li {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	color: black;

	display: inline;
	list-style-type: none;
	padding: 4px 20px 0 20px;
	float: right;
}

header li:hover {
	color: rgb(201, 0, 0);
	cursor: pointer;
}

nav {
	width: 100%;
	height: 60px;
	left: 0px;
	top: 0px;
	background-color: #F5F5F5;
}

main {
	text-align: center;
}

main img {
	position: absolute;
	width: 83%;
	left: 110px;
	margin-top: 25px;
}

.welcome {
	margin-top: 400px;

	font-family: Poppins;
	font-weight: 900;
	font-size: 64px;
	line-height: 65px;
}

figure {
	margin-top: 150px;
}

.article {
	margin-top: 150px
}

.tengah {
	text-align: center;
}

.tengah p {
	text-align: center;
}

figure h3 {
	margin-left: 70px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 25px;
}

article h3 {
	margin-left: 110px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 25px;
}

figure img,
article img {
	position: absolute;
	width: 83%;
	left: 110px;
}

.geist,
.hey {
	margin-top: 570px;

	font-family: Poppins;
	font-weight: 900;
	font-size: 64px;
	line-height: 65px;
}

button {
	color: white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;

	background-color: black;
	border-radius: 50px;
	border: none;
	padding: 12px 18px 12px 18px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(32, 32, 32);
}

footer {
	display: flex;

	margin-top: 150px;

	position: absolute;
	width: 100%;
	height: 100px;

	background-color: black;
}

figcaption {
	flex-basis: 50%;
	font-family: Roboto;
	font-size: 18px;
	padding: 40px 0 0 94px;
	color: rgb(255, 255, 255);
	opacity: 50%;
}

.sosmed {
	flex-basis: 50%;
	align-items: center;
}

.sosmed img {
	height: 40px;
	opacity: 50%;
}

.sosmed img:hover {
	opacity: 100%;
	cursor: pointer;
	transition: 0.5s;
}

.sosmed ul {
	margin-right: 94px;
}

.sosmed li {
	display: inline;
	float: right;
	list-style-type: none;
	padding: 10px 0 0 20px;
}

mark {
	height: 25px;
}

@media only screen and (max-width: 640px) {
	body {
		font-family: Roboto;
		font-weight: 300;
		font-size: 10px;
		line-height: 15px;
	}
	
	.up {
		width: 100%;
		height: 25px;
		left: 0px;
		top: 0px;
		background-color: #F5F5F5;
	}
	
	header {
		background-color: white;
		height: 60px;
		padding: 5px;
	}
	
	header img {
		height: 25px;
		float: left;
		margin-left: 10px;
		margin-top: 10px;
	}
	
	header li {
		font-size: 16px;
		font-family: Roboto;
		font-weight: 400;
		color: black;
	
		display: inline;
		list-style-type: none;
		padding: 4px 20px 0 20px;
		float: right;
	}
	
	nav {
		width: 100%;
		height: 60px;
		left: 0px;
		top: 0px;
		background-color: #F5F5F5;
	}
	
	main {
		text-align: center;
	}
	
	main img {
		position: absolute;
		width: 83%;
		left: 35px;
		margin-top: 25px;
	}
	
	.welcome {
		margin-top: 115px;
	
		font-family: Poppins;
		font-weight: 900;
		font-size: 25px;
		line-height: 25px;
	}
	
	p {
		text-align: center;
		max-width: 250px;
		margin-left: 55px;
	}
	
	figure p {
		margin-left: 15px;
	}

	figure,
	article {
		margin-top: 50px;
	}
	
	.tengah {
		text-align: center;
	}
	
	figure h3 {
		margin-left: -5px;
		font-family: Roboto;
		font-weight: 400;
		font-size: 15px;
	}
	
	article h3 {
		margin-left: 35px;
		font-family: Roboto;
		font-weight: 400;
		font-size: 15px;
	}
	
	figure img,
	article img {
		position: absolute;
		width: 83%;
		left: 35px;
	}
	
	.geist,
	.hey {
		margin-top: 145px;
	
		font-family: Poppins;
		font-weight: 900;
		font-size: 25px;
		line-height: 25px;
	}
	
	button {
		color: white;
		font-family: Roboto;
		font-weight: 300;
		font-size: 12px;
	
		background-color: black;
		border-radius: 50px;
		border: none;
		padding: 12px 18px 12px 18px;
		cursor: pointer;
	}
	
	button:hover {
		background-color: rgb(32, 32, 32);
	}
	
	footer {
		display: flex;
	
		margin-top: 50px;
	
		position: absolute;
		width: 100%;
		height: 50px;
	
		background-color: black;
	}
	
	figcaption {
		flex-basis: 50%;
		font-family: Roboto;
		font-size: 8px;
		padding: 20px 0 0 10px;
		color: rgb(255, 255, 255);
		opacity: 50%;
	}
	
	.sosmed {
		flex-basis: 50%;
		align-items: center;
	}
	
	.sosmed img {
		height: 10px;
		opacity: 50%;
	}
	
	.sosmed img:hover {
		opacity: 100%;
		cursor: pointer;
		transition: 0.5s;
	}
	
	.sosmed ul {
		margin-right: 15px;
	}
	
	.sosmed li {
		display: inline;
		float: right;
		list-style-type: none;
		padding: 8px 0 0 5px;
	}
}