@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

.navbar {
    width: auto;
    height: 700px;

    background: url(images/walk.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    margin-bottom: 150px;
}

.justrun {
	height: 35px;
	float: left;
	margin-left: 94px;
	margin-top: 30px;
    cursor: pointer;
}

.burger {
	height: 25px;
	float: right;
	margin-right: 100px;
	margin-top: 40px;
    cursor: pointer;
}

.article {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    /* margin-left: 375px; */
}

small {
    color: rgb(206, 0, 0);
}

.p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
}

strong {
    font-family: Roboto;
    float: right;
}

strong:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.footer {
	padding: 5px;
    height: 100px;
	background-color: #eeeeee;
    margin-top: 150px;
}


/* Modal */

* {
	text-decoration: none;
	list-style-type: none;
}

a {
	color: white;
}

body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: 100vw;
    height: 100vh;
	display: flex;
	align-items: center;

    border: 1px red solid;
}

.content ul {
	list-style-type: none;
	color: white;
	margin: 0 auto;
	text-align: center;
}

.content li {
	margin-top: 30px;
	opacity: 50%;
	font-family: Roboto;
	font-weight: bold;
	font-size: 30px;
	line-height: 40px;
}

.content li:hover {
	opacity: 100%;
	cursor: pointer;
}

.small {
	display: block;
	color: white;
	font-size: 15px;
	margin-top: 50px;
	opacity: 50%;
}

.close {
	display: block;
	color: white;
	font-size: 35px;
	margin-top: 50px;
	opacity: 50%;
}

.close:hover {
    opacity: 100%;
    cursor: pointer;
}


@media only screen and (max-width: 640px) {

    .justrun {
        margin-left: 10px;
    }
    
    .burger {
        margin-right: 15px;
        margin-top: 40px;
    }

    .article {
        max-width: 90%;
    }
}