@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

body {
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
}

.up {
	width: 100%;
	height: 25px;
	left: 0px;
	top: 0px;
	background-color: #F5F5F5;
}

header {
	background-color: white;
	height: 60px;
	padding: 5px;
	box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.11);
	-webkit-box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.11);
	-moz-box-shadow: -1px 6px 11px -1px rgba(0,0,0,0.11);
}

header img {
	height: 35px;
	float: left;
	margin-left: 94px;
	margin-top: 10px;
}

header ul {
	margin-right: 100px;
}

header li {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	color: black;

	display: inline;
	list-style-type: none;
	padding: 4px 20px 0 20px;
	float: right;
}

header li:hover {
	color: rgb(201, 0, 0);
	cursor: pointer;
}

.rekomen {
	margin: 70px 0 0 70px;

	font-family: Roboto;
	font-weight: 300;
	font-size: 23px;
	line-height: 23px;
}

footer {
	display: flex;

	margin-top: 150px;

	position: absolute;
	width: 100%;
	height: 100px;

	background-color: black;
}

figcaption {
	flex-basis: 50%;
	font-family: Roboto;
	font-size: 18px;
	padding: 40px 0 0 94px;
	color: rgb(255, 255, 255);
	opacity: 50%;
}

.sosmed {
	flex-basis: 50%;
	align-items: center;
}

.sosmed img {
	height: 40px;
	opacity: 50%;
}

.sosmed img:hover {
	opacity: 100%;
	cursor: pointer;
	transition: 0.5s;
}

.sosmed ul {
	margin-right: 94px;
}

.sosmed li {
	display: inline;
	float: right;
	list-style-type: none;
	padding: 10px 0 0 20px;
}