@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');

body {
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
}

.p {
	text-align: center;
	max-width: 600px;
	margin-left: 375px;
}

.figure > .p {
	margin-left: 335px;
}

.up {
	width: 100%;
	height: 25px;
	left: 0px;
	top: 0px;
	background-color: #F5F5F5;
}

.header {
	display: flex;
	align-items: center;
	background-color: white;
	height: 60px;
}

.just {
	height: 35px;
	float: left;
	margin-left: 94px;
	cursor: pointer;
}

.navbar {
	flex: 1;
	text-align: right;
}

.navbar ul li {
	font-size: 16px;
	font-family: Roboto;
	font-weight: 400;
	color: black;

	display: inline-block;
	list-style-type: none;
	margin-right: 50px;
}

.navbar li:hover {
	color: rgb(201, 0, 0);
	cursor: pointer;
}

.burger {
	height: 25px;
	float: right;
	margin-right: 50px;
	filter: contrast(0%);
	cursor: pointer;
	display: none;
}

.tulisan {
	align-items: center;
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: #F5F5F5;
}

.caption {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;

	padding-top: 20px;
}

.main {
	text-align: center;
}

.banner {
	position: absolute;
	width: 83%;
	left: 110px;
	margin-top: 25px;
}

.welcome {
	margin-top: 400px;
	margin-bottom: 10px;

	font-family: Poppins;
	font-weight: 900;
	font-size: 64px;
	line-height: 65px;
}

.figure {
	margin-top: 150px;
}

.article {
	margin-top: 150px
}

.tengah {
	text-align: center;
}

.main > .p {
	text-align: center;
}

.figure h3 {
	margin-left: 70px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 25px;
}

.article h3 {
	margin-left: 110px;
	font-family: Roboto;
	font-weight: 400;
	font-size: 25px;
}

.geistekiden,
.lari {
	position: absolute;
	width: 83%;
	left: 110px;
}

.geist,
.hey {
	margin-top: 570px;
	margin-bottom: 10px;

	font-family: Poppins;
	font-weight: 900;
	font-size: 64px;
	line-height: 65px;
}

button {
	color: white;
	font-family: Roboto;
	font-weight: 300;
	font-size: 18px;

	background-color: black;
	border-radius: 50px;
	border: none;
	padding: 12px 18px 12px 18px;
	margin-top: 10px;
	cursor: pointer;
}

button:hover {
	background-color: rgb(32, 32, 32);
}

footer {
	display: flex;

	margin-top: 150px;

	position: absolute;
	width: 100%;
	height: 100px;

	background-color: black;
}

.figcaption {
	flex-basis: 50%;
	font-family: Roboto;
	font-size: 18px;
	padding: 40px 0 0 94px;
	color: rgb(255, 255, 255);
	opacity: 50%;
}

.sosmed {
	flex-basis: 50%;
	align-items: center;
}

.sosmed img {
	height: 40px;
	opacity: 50%;
}

.sosmed img:hover {
	opacity: 100%;
	cursor: pointer;
	transition: 0.5s;
}

.sosmed ul {
	margin-right: 94px;
}

.sosmed li {
	display: inline;
	float: right;
	list-style-type: none;
	padding: 10px 0 0 20px;
}

mark {
	height: 25px;
}

@media only screen and (max-width: 640px) {
	
	.navbar ul {
		position: absolute;
		width: 100%;
		background-color: black;
		top: 75px;
		right: 0;
		padding-right: 20px;
		z-index: 2;
	}

	.navbar ul li {
		color: white;
		display: block;
		margin: 10px 0 10px 0;
	}

	.burger {
		display: block;
	}

	.just {
		margin-left: 20px;
	}

	.burger {
		margin-right: 20px;
	}

	.main {
		text-align: center;
	}

	.banner {
		left: 35px;
		width: 83%;
	}

	.geistekiden,
	.lari {
		left: 35px;
		width: 83%;
	}

	.welcome {
		font-size: 24px;
		line-height: 25px;
		margin: 120px 0 10px 0;
	}

	.geist,
	.hey {
		font-family: Poppins;
		font-weight: 900;
		font-size: 24px;
		line-height: 25px;
		margin: 160px 0 10px 0;
	}

	.article,
	.figure {
		margin-top: 100px;
	}

	.figure h3 {
		margin-left: 35px;
		font-size: 20px;
	}
	
	.article h3 {
		margin-left: 35px;
		font-size: 20px;
	}

	.p {
		font-size: 12px;
		line-height: 15px;
		margin: 0 auto;
		max-width: 80%;
	}

	button {
		font-size: 12px;
		padding: 7px 13px 7px 13px;
		margin: 10px 0 0 0;
	}

	.sosmed img {
		height: 20px;
		opacity: 50%;
	}

	.sosmed ul {
		margin-right: 10px;
	}

	.sosmed li {
		padding: 0 0 0 10px;
	}

	.figcaption {
		font-size: 10px;
		padding: 0 0 0 10px;
	}

	footer {
		display: flex;
		align-items: center;
		margin-top: 100px;
		height: 60px;
	}
}