@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;450;900&display=swap');

.card {
    margin: 25px 0 0 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #C8C8C8;
}

.nama {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #858585;
}

.teks {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 21px;
}

.hapus,
.edit {
	font-family: Roboto;
    font-weight: 450;
    font-size: 16px;
    line-height: 21px;
    color: #858585;
    padding: 5px 20px 0 0;
    float: right;
	background-color: white;
	border: none;
	cursor: pointer;
}

.hapus:hover, .edit:hover {
	color: black;
    font-weight: 450;
    background-color: white;
}